
.full-width {
    /*width: 100%;*/
    min-width: 350px;
    padding-left: 25px;
}

.mat-card {

    width: 400px;
    height: 650px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding-top: 50px;
    margin-top: 50px;


}

.mat-raised-button {
    text-align: center;
    width: 80px;
}

.mat-card-actions {
    text-align: center;

}

h1 {
    color: darkslateblue;
    text-align: center;

}

.mat-button{
    text-align: center;


}

@media only screen and (max-width: 1920px) {

    .mat-card {
       overflow: scroll;

    }
}

