<div style="margin-top: 50px;">
<mat-card class="my-card">
  <mat-card-content>

    <h1>Member Login</h1>
    <form class="my-form">
      <mat-form-field class="full-width">
     <!--<input  matInput  placeholder="Enter your Email" name="emailAddress">-->
        <input matInput placeholder="Email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher"
               [(ngModel)]="username" required>
        <mat-error *ngIf="emailFormControl.hasError('emailAddress') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  type="password" matInput  placeholder="Password"
                name="password" [type]="hide ?
      'password' : 'text'"
                [(ngModel)]="password" required>
          <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' :
              'visibility'}}</mat-icon>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="login()"
            color="primary">LOGIN</button>
    <a mat-button routerLink="/register" color="primary">Register</a>
  </mat-card-actions>
</mat-card>

</div>


