.full-width {
    min-width: 350px;
    padding-left: 5px;

}
.mat-card {
    width: 400px;
    height: 400px;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding-top: 50px;
    margin-top: 200px;

}

h1 {
 color: darkslateblue;
    text-align: center;
    padding-bottom: 30px;

}

.mat-raised-button {
    text-align: center;
    width: 300px;

}

.mat-card-actions {
    text-align: center;
}

.mat-button{
    text-align: center;
    position: relative;
    top: 25px;
}

img {
    height: 110px;
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: darkslateblue;
    margin-top: 20px;

}