<div style="width: 100%;height:100%; margin:auto;">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button
                    (click)="sidenav.toggle()" color="white">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <span class="flexExpand"></span>

            <button mat-button>
                <mat-icon>notifications_none</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav mode="side" #sidenav role="navigation">
            <mat-nav-list>
                <a mat-list-item routerLink="./policyinfo">
                    <mat-icon>info
                    </mat-icon>
                    Policy Info </a>
                <a mat-list-item routerLink="./practice">
                    <mat-icon>playlist_add
                    </mat-icon>
                    New Policies</a>
                <a mat-list-item routerLink="./practice">
                    <mat-icon>receipt_long
                    </mat-icon>
                    Claims</a>
                <a mat-list-item routerLink="./contact">
                    <mat-icon>contacts
                    </mat-icon>
                    Contact Us</a>
                <a mat-list-item (click)="onLogout()">
                    <mat-icon>power_settings_new
                    </mat-icon>
                    Logout </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
