h1 {
    font-style: italic;
    font-weight: lighter;
    font-variant: small-caps;
    color: darkblue;
    margin-left: 30px;

}

p {
    margin-left: 30px;
    color: gray;
    font-family: sans-serif;
}

.name {
    color: black;
}

th, td {
    width:300px;
    text-align:center;
    padding-top:25px;
    margin-top: 20px;
    font-weight: bold;

}

span {

    padding: 50px;
}


@media only screen and (max-width: 600px) {
    table {
        width: 50px;
        display: contents;
        font-size: smaller;

    }
    h1 {
        font-size: large;
    }
}