<div>

  <button mat-mini-fab  style="margin-top: 20px;
margin-left: 20px; outline: 0; box-shadow: none!important; background-color: #3F51B5 ;"
          (click)="back();"><mat-icon style="color: white;">keyboard_backspace
  </mat-icon>
  </button>
</div>

<mat-tab-group animationDuration="0ms" >
  <mat-tab id="tab1" label="Personal Details">
    <table  class="custom-table" style="margin-left: 30px; width: 500px;">
      <tr>
        <td style="color:lightslategrey; text-align: left;">Insured Name</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.insuredName}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Policy Number </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.policyCertificateNo}}</td>

      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Insured Company Name </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.companyName}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Insured Address</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.insuredAddress}}</td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="Company Details">

    <table  class="custom-table" style="margin-left: 30px; width: 400px;">
      <tr>
        <td style="color:lightslategrey; text-align: left;">Ins.Company Name</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.companyName}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Policy/Certificate No </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.policyCertificateNo}}</td>

      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Office Code  </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.officeCode}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Agent</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.agentname}}</td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="Policy Details">

    <table  class="custom-table" style="margin-left: 30px; width: 400px;">
      <tr>
        <td style="color:lightslategrey; text-align: left;">Type of Policy</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.department}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Basic Rate</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.basicRate}}</td>

      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">ID Card </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.idCard}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Any Additional Premium</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.additionalPerilsPremium}}</td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="Amount Details">

    <table  class="custom-table" style="margin-left: 30px; width: 400px;">
      <tr>
        <td style="color:lightslategrey; text-align: left;">Premium Amount</td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.premiumAmount}}</td>
      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Service Tax Amount </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.serviceTax}}</td>

      </tr>
      <tr>
        <td style="color: lightslategrey;text-align: left;">Total Premium Amount </td>
        <td>:</td>
        <td style="color: gray; text-align: left;">{{data.totalPremium}}</td>
      </tr>
    </table>
  </mat-tab>

  <mat-tab label="Documents">


    <p>{{data.id}}</p>

    <table mat-table [dataSource]="this.documents">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <button mat-button (click)="showDocument(element.id)">preview</button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="height: 600px">
      <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
    </div>
  </mat-tab>
</mat-tab-group>
