.right-align {
    text-align: right;
}


.mat-card-title{
    color: #3F51B5;
}

input {
    color: darkslategrey;
    font-weight: bold;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
    0 1px 1px 0 rgba(0,0,0,1),
    0 1px 3px 0 rgba(0,0,0,1);
    margin: 20px;
}
