<div style="padding-bottom: 100px">
<mat-card *ngFor="let policy of policies" >
    <mat-card-header>
        <mat-card-title>{{getPolicyInfo(policy)}}</mat-card-title>
        <mat-card-subtitle>Policy Summary</mat-card-subtitle>
    </mat-card-header>
  <mat-card-content>
      <form fxLayout="column">
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex appearance="standard">
                  <mat-label>Insured Name</mat-label>
                  <mat-icon color="primary" matPrefix>person</mat-icon>
                  <input matInput [value]="policy.insuredName" readonly="true">
              </mat-form-field>

              <mat-form-field fxFlex appearance="standard">
                  <mat-label>Email Address</mat-label>
                  <mat-icon color="primary" matPrefix>email</mat-icon>
                  <input matInput type="email" [value]="policy.email">
              </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex appearance="standard">
                  <mat-label>Insured Company Name</mat-label>
                  <mat-icon color="primary" matPrefix>work</mat-icon>
                  <input matInput [value]="policy.companyName" readonly="true">
              </mat-form-field>

              <mat-form-field fxFlex appearance="standard">
                  <mat-label>Policy Number</mat-label>
                  <mat-icon color="primary" matPrefix>article</mat-icon>
                  <input matInput [value]="policy.policyCertificateNo">
              </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex appearance="standard">
                  <mat-label>Start Date</mat-label>
                  <mat-icon  color="primary" matPrefix>today</mat-icon>
                  <input matInput type="date" [value]="policy.insuranceFrom " readonly="true">
              </mat-form-field>

              <mat-form-field fxFlex appearance="standard">
                  <mat-label>Premium Amount</mat-label>
                  <input matInput type="number"  [value]="policy.premiumAmount" readonly="true">
                  <span matPrefix>$&nbsp;</span>
              </mat-form-field>
          </div>
      </form>
  </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button  (click)="getMoreInfo(policy)" style="background-color: #3F51B5; color: white;">More Info</button>
    </mat-card-actions>
</mat-card>
</div>