<div class="w3-container w3-white w3-center"
     style="width: 90%;height:100%; margin:auto; ">




            <h4>Telos Risk Management & Insurance Broking Services (P) Ltd. </h4>

            <div class="content">
                <h5>Our Vision</h5>
                <p>The Prime Objective of Telos is providing wide range of Risk Management & Risk Transfer related services of highest International Standard under one umbrella and provide meaningful contribution in managing the Corporate Risk.</p>

                <h3>Contact Us</h3>

                <p>Please let us know your specific needs to help us serve you better.</p>
                <p>You can Contact us at:</p>

<!--                <h6>Corporate Office:</h6>-->
<!--                <p>Telos Risk Management & Insurance Broking Services (P) Ltd.-->
<!--                    61, Udyog Bhavan, Sonawala Lane Goregaon (East)-->
<!--                    Mumbai - 400 063, India.-->
<!--                    Tel. : +91-22-6698 7701 / 02 / 03 / 2686 4506-->
<!--                    Fax: +91-22-6698 7703-->
<!--                    E-Mail : telos@telosrisk.com </p>-->

                <h3>Branch Office:</h3>

                <p><span>BANGALORE BRANCH:</span>
                    Telos Risk Management & Insurance Broking Service Pvt Ltd.
                    Telos House
                    3019, 6th Main Road
                    Kumaraswamy Layout
                    1ST Stage, Near Water Tank
                    BANGALORE -, 560078
                    Ph:- +91-80-26661860
                    Mob:-+91-9343406998</p>

                <p><span>HYDERABAD BRANCH:</span>
                    Telos Risk Management & Insurance Broking Service Pvt Ltd.
                    202, 2nd Floor,
                    Status Plaza,Opp. Greenlands
                    Begumpet
                    Hyderabad - 500 016
                    Ph:- +91-40-66776677
                    Mob:-+91-9848021211
                </p>
            </div>

            <footer>

                <a href="http://www.facebook.com" class="fa fa-facebook"><img src="https://img.icons8.com/color/35/000000/facebook.png"></a>
                <a href="#" class="fa fa-twitter"><img src="https://img.icons8.com/color/35/000000/twitter.png"></a>
                <a href="#" class="fa fa-google"><img src="https://img.icons8.com/color/35/000000/google-plus--v1.png"></a>
                <a href="#" class="fa fa-linkedin"><img src="https://img.icons8.com/color/35/000000/linkedin.png"></a>
            </footer>


</div>








