.example-sidenav {
    padding: 20px;
}

.ylb-app-content{
    padding: 16px;
}
.bell-icon{
    margin-right:20px!important;
    display: inline-block;
    vertical-align: bottom;
}
.logout{
    display: inline-block;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
}

.mat-menu-item{
    padding-left: 100px;
    padding-right: 100px;
    background-color: white !important;

}

.mat-button {
    outline: 0;
    box-shadow: none!important;
}

/*.mat-button :hover {*/
/*    color: white;*/
/*}*/

/*.no-hover-effect.mat-button{*/
/*    background-color: transparent;*/
/*}*/

.btn1:not([disabled]):hover {
    background-color: transparent;
    color: white;
    border: none;
}
/*.mat-menu-item:hover{*/
/*    color: #aa3c9f;*/
/*}*/
/*.mat-menu-item:hover .mat-icon{*/
/*    color: #aa3c9f;*/
/*}*/

a .mat-icon {
    color: darkslateblue;
}
.mat-nav-list a{
    color: darkslateblue;
}

.mat-button{
    outline: 0; box-shadow: none!important;
}

h4 {
    color: darkslateblue;
    padding-top: 30px;

    text-align: center;
}

h5,h6,h3 {
    color: darkslateblue;
    padding-top: 30px;
    margin-left: 20px;

    text-align: center;

}

p{
    /*max-width:100px;*/
    color: gray;
    margin: 20px;

    text-align: center;
}

span {
    color: black;

}

@media screen and (max-width:768px) {
    h5,p {

        /*float: left;*/

    }


}

footer .p {

    color: darkslateblue ;
    margin-top: 50px;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: left;
}

/*.fa-facebook {*/
/*    background: #3B5998;*/
/*    color: white;*/
/*}
*/

a {
    float: right;
    padding: 10px;

}

a .img {
    background-color: darkslateblue;

}